<header id="header">

    <!-- Logo -->
    <%unless user_signed_in?%>
    <a href="/" class="logo">
        <img src="<%= asset_path 'logo.png'%>" alt="">
        
        <a href="/users/sign_up" class="ml-20 btn btn-secondary btn-sm animated" >회원가입</a>
        <a href="/users/sign_in" class="ml-20 btn btn-secondary btn-sm animated">로그인</a>
        
    </a>
    <%else%>
        <a href="/" class="owner">
            <img width="80" height="80" src="<%= current_user.image%>" alt="" class="image">
            <div class="content">
                <h2 class="name"><%= current_user.name%></h2>
                <h2 class="caption text-muted"><%= current_user.email%></h2>
            </div>
        </a>
        
            <a href="/users/sign_out" class="ml-20 btn btn-secondary btn-sm animated" data-method="delete">로그아웃</a>
        
    <%end%>
    <nav id="main">
        <div class="nav-wrapper">
            <p></p>
        </div>
    </nav>
    <!-- Navigation -->
     <nav id="main-menu">
        <div class="nav-wrapper">
            <ul class="nav nav-primary">
                <li><a href="/" ><i class="li-home"></i>Start</a></li>
                <li><a href="/home/introduce"><i class="li-feedback"></i>About</a></li>
                <li><a href="/home/services"><i class="li-laptop"></i>Services</a></li>
                <li><a href="/clubs"><i class="li-imac"></i>독서모임</a></li>
                <li><a href="/cbooks" class="active"><i class="li-pen"></i>선정도서</a></li>
                <li><a href="/clubs/apply"><i class="li-email"></i>등록신청</a></li>
                <li class="has-children">
                    <a href="#"><i class="li-heart"></i>Mypage</a>
                    <ul>
                        <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                        <li class="has-children">
                            <a href="/">내 서재</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                                <li><a href="index-one-page.html">읽은 책</a></li>
                                <li><a href="index-one-page-dark.html">읽는 책</a></li>
                                <li><a href="index-one-page-agency.html">읽을 책<span class="tag tag-info">New!</span></a></li>
                                
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="/">내 독서모임</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                                <li><a href="index-one-page.html">최근 팔로우</a></li>
                                <li><a href="index-one-page-dark.html">최근 댓글</a></li>
                                
                                
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">팔로잉한 독서모임</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                                <li><a href="blog-post.html">Blog Post</a></li>
                                <li><a href="blog-post-sidebar-left.html">Blog Post Sidebar Left</a></li>
                                <li><a href="blog-post-sidebar-right.html">Blog Post Sidebar Right</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">내가 남긴 기록들</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>Extra</a></li>
                                <li><a href="portfolio-2-cols.html">Portfolio 2 Columns</a></li>
                                <li><a href="portfolio-3-cols.html">Portfolio 3 Columns</a></li>
                                <li><a href="portfolio-project-1.html">Single Project #1</a></li>
                                <li><a href="portfolio-project-2.html">Single Project #2</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">친구 목록</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>Extra</a></li>
                                <li><a href="footer-light.html">Footer Light</a></li>
                                <li><a href="footer-dark.html">Footer Dark</a></li>
                                <li><a href="footer-widgetized.html">Footer Widgetized</a></li>
                            </ul>
                        </li>
                        <li><a href="#">정보수정</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
        <span class="selector"></span>
    </nav>

</header>
<div id="content">

    <!-- Page Title -->
    <div class="page-title pb-0">
        <div class="container-fluid container-custom">
            <h1>선정도서들</h1>
            <p class="lead text-muted">From Followed Clubs</p>
        </div>
    </div>

    <!-- Section / Blog -->
    <section id="blog" class="section">

        <div class="container-fluid container-custom clearfix">
            <!-- Main -->
            <div class="main left">
                <div class="row masonry">  
                    <div class="masonry-sizer col-sm-6 col-xs-12"></div>
                    <% if current_user.clubs.first%>
                    <% @cbooks.sort_by{|x| x.register_at}.reverse.each do |cbook|%>
                        <% if cbook.club.rolls.find_by(user_id: current_user.id)%>
                            <div class="masonry-item col-sm-6 col-xs-12">
                                <!-- Post - Item -->
                                <article class="post item">
                                    <div class="post-content">
                                        <h3><%= cbook.club.title%>클럽 <%= cbook.times%>회 선정도서</h3>
                                    </div>
                                    <div class="post-image">
                                        <img src="<%=cbook.image%>" alt="">
                                    </div>
                                    <div class="post-content">
                                        
                                        <span class="date text-muted"><%= cbook.register_at.strftime("%m %d, %Y")%></span>
                                        <h4><a href="/cbooks/<%= cbook.id%>"><%= cbook.title%></a></h4>
                                        <p><%= cbook.why.html_safe%></p>
                                        <a href="/cbooks/<%= cbook.id%>" class="btn btn-primary btn-sm">리뷰보기</a>
                                    </div>
                                    <ul class="post-meta">
                                        <li><i class="li-usb1"></i><%= cbook.category%></li>
                                        <li><i class="li-feedback"></i>리뷰 : <%= cbook.replies.size + cbook.reply2s.size %>개</li>
                                    </ul>
                                </article>
                            </div>
                        <% end%>
                    <% end%>
                    <% else%>
                         <div class="masonry-item col-sm-6 col-xs-12">
                                <!-- Post - Item -->
                                <article class="post item">
                                    <div class="post-content">
                                        <h3>팔로우한 Club이 없습니다.</h3>
                                    </div>
                                    <ul class="post-meta">
                                        <h4 class="lead">팔로우 후 이용하세요^^</h4>
                                        <p class="lead">
                                            <a href="/clubs">
                                                <button type="submit" class="btn btn-submit" clubs_path method: :get>
                                                    <span>독서모임 둘러보기</span>
                                                    <svg class="loader loader-white" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="2" stroke-linecap="round" cx="16" cy="16" r="14"></circle></svg>
                                                </button>
                                            </a>
                                        </p>
                                        
                                    </ul>
                                    
                                    
                                  
                                </article>
                        </div>
                        
                    <% end%>
                    
                </div>
                <!-- Pagination -->
                <%= paginate @cbooks %>
                
                
            </div>
            
            <!-- Sidebar -->
            <div class="sidebar right">
                <!-- Widget - Recent posts -->
                <div class="widget widget-recent-posts">
                    <h6 class="text-muted">최근 선정도서</h6>
                    <ul class="list-posts">
                        <% count=0%>
                        <% @cbooks.sort_by{|x| x.register_at}.reverse.each do |cbook|%>
                        <%count += 1%>
                        
                        <li>
                            <a href="/cbooks/<%= cbook.id%>"><img src="<%= cbook.image%>" height = "40" width = "40"></a>
                            <span><%= cbook.title%></span><br>
                            <span class="date"><%= cbook.register_at.strftime("%m %d, %Y")%></span>
                        </li>
                        <% if count == 3%>
                            <% break%>
                        <%end%>
                        <% end%>
                    </ul>
                </div>
                <!-- Widget - Twitter -->
                <div class="widget widget-twitter">
                    <h6 class="text-muted">최근 리뷰</h6>
                    <% count = 0%>
                    <% @total.sort_by{|x| x.created_at}.reverse.each do |reply|%>
                    <% count += 1%>
                    
                    <div>
                         <ul class="comments">
                            <li>
                                <div class="avatar"><img src="<%= reply.user.image%>" alt=""></div>
                                <div class="content">
                                    <span class="details"><%= reply.user.name%></span><br>
                                    <span class="details">on <%= reply.created_at.strftime("%m %d, %Y")%></span>
                                    <p>
                                        <%= reply.comment%>
                                    </p>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                    <% if count == 3%>
                        <% break%>
                    <%end%>
                    <%end%>
                </div>
               
            </div>
        </div>
        
    </section>

</div>
