<header id="header">
    
     <%unless user_signed_in?%>
    <a href="/" class="logo">
        <img src="<%= asset_path 'logo.png'%>" alt="">
        
        <a href="/users/sign_up" class="ml-20 btn btn-secondary btn-sm animated" >회원가입</a>
        <a href="/users/sign_in" class="ml-20 btn btn-secondary btn-sm animated">로그인</a>
        
    </a>
    <%else%>
        <a href="/" class="owner">
            <img width="80" height="80" src="<%= current_user.image%>" alt="" class="image">
            <div class="content">
                <h2 class="name"><%= current_user.name%></h2>
                <h2 class="caption text-muted"><%= current_user.email%></h2>
            </div>
        </a>
        
            <a href="/users/sign_out" class="ml-20 btn btn-secondary btn-sm animated" data-method="delete">로그아웃</a>
        
    <%end%>
    <nav id="main">
        <div class="nav-wrapper">
            <p></p>
        </div>
    </nav>
    
        <nav id="main-menu">
        <div class="nav-wrapper">
            <ul class="nav nav-primary">
                <li><a href="/" class="active"><i class="li-home"></i>Start</a></li>
                <li><a href="/home/introduce"><i class="li-feedback"></i>About</a></li>
                <li><a href="/home/services"><i class="li-laptop"></i>Services</a></li>
                <li><a href="/clubs"><i class="li-imac"></i>독서모임</a></li>
                <li><a href="/cbooks"><i class="li-pen"></i>선정도서</a></li>
                <li><a href="/clubs/apply"><i class="li-email"></i>등록신청</a></li>
                <li class="has-children">
                    <a href="#"><i class="li-heart"></i>Mypage</a>
                    <ul>
                        <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                        <li class="has-children">
                            <a href="/">내 서재</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                                <li><a href="/home/p_read">읽은 책</a></li>
                                <li><a href="/home/n_read">읽는 책</a></li>
                                <li><a href="/home/f_read">읽을 책<span class="tag tag-info">New!</span></a></li>
                                
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="/">내 독서모임</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                                 <% if user_signed_in?%>
                                    <% if current_user.rolls.find_by(relation: "captain")%>
                                    
                                    <li><a href="#">최근 팔로우</a></li>
                                    <li><a href="#">최근 댓글</a></li>
                                    <li><a href="#">일정</a></li>
                                <%end%>
                                <%end%>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="/">팔로잉한 독서모임</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>뒤로가기</a></li>
                                <% if user_signed_in?%>
                                <% if current_user.clubs%>
                                <% current_user.clubs.each do |club|%>
                                    <li><a href="/clubs/<%= club.id%>"><%= club.title%></a></li>
                                <% end%>
                                <% end%>
                                <%end%>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">내가 남긴 기록들</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>Extra</a></li>
                                <li><a href="portfolio-2-cols.html">Portfolio 2 Columns</a></li>
                                <li><a href="portfolio-3-cols.html">Portfolio 3 Columns</a></li>
                                <li><a href="portfolio-project-1.html">Single Project #1</a></li>
                                <li><a href="portfolio-project-2.html">Single Project #2</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">친구 목록</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>Extra</a></li>
                                <li><a href="footer-light.html">Footer Light</a></li>
                                <li><a href="footer-dark.html">Footer Dark</a></li>
                                <li><a href="footer-widgetized.html">Footer Widgetized</a></li>
                            </ul>
                        </li>
                        <li><a href="#">정보수정</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
        <span class="selector"></span>
    </nav>
</header>
<div id="content">
    
            <section id="calendar" class="section">

                    <div class="container container-md">
            
                         BG Side 
                        <div class="bg-side bg-left push-inside">
                            <img src="assets/img/items/coffee.png" alt="" class="animated slideInLeft visible" data-animation="slideInLeft">
                        </div>
                        
                         BG Side 
                        <div class="bg-side bg-right push-inside">
                            <img src="assets/img/items/glasses.png" alt="" class="animated slideInRight visible" data-animation="slideInRight" data-animation-delay="300">
                            <img src="assets/img/items/camera.png" alt="" class="animated slideInRight visible" data-animation="slideInRight">
                        </div>
            
                        <div class="relative">
                            <h2 class="text-xs-center mb-50">Calendar</h2>
                             Calendar Compontent 
                            <div class="calendar fc fc-unthemed fc-ltr">
                            </div>
                        </div>
            
                    </div>
            
                </section>
</div>